/******************************************************
						CV
******************************************************/
.tablehead h3,p{
	text-align: center;
}
.tabletitle{
	font-weight: bold;
	text-align: left;
	border-style:none none double none;
}
.edtime{
	width: 30%;
}
.right{
	text-align: right;
	width: 30%;
}
.cv ul{
	padding-left: 20px;
	margin: 0;
}


/******************************************************
					Contact Link
******************************************************/
.img-fluid{
	margin-bottom: 10px;
}
.contact-link{
	text-align: center;
}
.calendar{
	margin-top: 50px;
	text-align: center;
}
.calendar a{
	text-decoration: underline;
}


/******************************************************
	Media Query Adjustments Based on screen size
******************************************************/
/* for 360px or less */
@media screen and (max-width: 360px){
	.cv{
		font-size: 0.8em;
	}
}