/******************************************************
				Overall Global Style
******************************************************/
html{
	height: 100%;
}
body{	
	position: relative;
	min-height: 100%;
}
a:link, a:visited{
	color: #000000;
}

a:hover, a:active{
	color: #C0C0C0;
	text-decoration: none;
}
.page{
	padding-bottom: 170px;
}

/******************************************************
						Header
******************************************************/
.title{
	text-align: center;
	font-size: 5em;
	padding: 150px 0 20px 0;
	margin: 0 auto;
}

.introduction{
	text-align: center;
	font-size: 1.5em;
	padding: 10px 0 20px 0;
	margin: 10px auto;
}


/******************************************************
						Navbar
******************************************************/
.nav{
	margin: 0 auto;
}
.nav a{
	display: inline-block;
	width: 7.5em;
	line-height: 2em;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}


/******************************************************
						Footer
******************************************************/
.footer{
	position: absolute;
	bottom: 70px;
	width: 160px;
	height: 28px;
	left: 50%;
	right: 50%;
	margin-left: -90px;
	padding: 0;
}
.footer-content{
	width: 160px;
	margin: 0 auto;
}
.icon-definition{	
	position: absolute; 
	width: 0; 	 
	height: 0; 
	overflow: hidden;
}
.icon-link{
	width: 30px;
	padding: 0 5px;
}
.icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}


/******************************************************
	Media Query Adjustments Based on screen size
******************************************************/
/* for 768px or less */
@media screen and (max-width: 768px){
	.footer{
		width: 120px;
		height: 28px;
		left: 50%;
		right: 50%;
		margin-left: -60px;	
	}
	.footer-content{
		width: 120px;
	}
	.icon-link{
		width: 20px;
	}
	.icon{
		width: 20px;
		height: 20px;	
	}
}