/******************************************************
					  Hello Img
******************************************************/
.hello{
	width: 800px;
	margin: 25px auto;
}
.hello div{
	margin:0 auto 25px auto;
}
.imgcontainer{
	width: 800px;
}
.hello img{
	width: 100%;
}
.hello a:link, .hello a:visited{
	color: #3399cc;
}
.hello a:hover, .hello a:active{
	color: #cc9933;
}


/******************************************************
				Contact information
******************************************************/
.info{
	width: 800px;
}
.info h4{
	margin-top: 40px;
}


/******************************************************
	Media Query Adjustments Based on screen size
******************************************************/
/* for 1024px or less */
@media screen and (max-width: 1024px){
	#content{		
		width: 80%; 	
	}
	.hello{
		width: 100%;
	}
	.imgcontainer{
		width: 100%;
	}
	.info{
		width: 100%;
	}
}

/* for 800px or less */
@media screen and (max-width: 800px){
	#content{		
		width: 90%; 
	}
}

/* for 650px or less */
@media screen and (max-width: 650px){
	#content{		
		width: 80%; 
	}
}




